body {
  @include outer-container;

}

.boxes {
  @include clearfix;
  @include span-columns(8)
}

.box {
  background: tint(red, 40%);
  // margin: 20px;
  @include size(100px);
  float: left;
  @include span-columns(2 of 8);
  // @include omega(2n);
}

p {
  font-family: $helvetica;
  @include span-columns(4);
}
